@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <p class="lead">Before you can take advantage of the features in this application, please @Html.ActionLink("Log In", "Login", "Users") or @Html.ActionLink("Sign In", "Signin", "Users") first</p>
    <p><a href="/" class="btn btn-primary btn-lg">Back to Home &raquo;</a></p>
</div>