@{
    ViewBag.Title = "Sitrahmano ST, MCSA, MCSE, MCSD";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Senior Technical Trainer<br />
    Senior Developer<br />
    Lead Developer<br />
    <br />
    Asp.Net Since 2005
</address>

<address>
    <p style="margin-bottom:-20px;"><a href="https://www.youracclaim.com/users/sit-rahmano" class="btn btn-primary btn-lg">About Rahmano &raquo;</a></p>
</address>