@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="margin-top:-30px;">Case</h1>
    <p class="lead">
        This case is intended for assessment employee selection of PT. Dayin Mitra (this example of adopting kaskus)....
    </p>
    <span class="lead">
        Where the Case application includes the following features:<br />
        - LogIn/SignIn<br />
        - View Articles<br />
        - Create Arcticles<br />
    </span>
    <br/>
    <p style="margin-bottom:-20px;"><a href="https://www.youracclaim.com/users/sit-rahmano" class="btn btn-primary btn-lg">About Rahmano &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Log In / Sign In</h2>
        <p>
            This section is required to log in or register a user. 
            With registered users, users will be able to access articles, provide comments, ratings or share them...
        </p>
        <p class="btn btn-default">@Html.ActionLink("Log In /Sign In", "Index", "Users")</p>

    </div>
    <div class="col-md-4">
        <h2>View Articles</h2>
        <p>
            Is a list or brief display of articles that has been published. <br />Contains a series of news items sorted by date published, number of viewers or number of articles shared.<br />
        </p>
        <p>
            Registered users, other than article authors, can comment, rate, share or report to the admin regarding inappropriate articles.......
        </p>
        <p class="btn btn-default">@Html.ActionLink("Articles", "Index", "Articles")</p>
    </div>
    <div class="col-md-4">
        <h2>Create Arcticles</h2>
        <p>This section is where articles are created and published by registered users. <br />Once an article is published, users cannot change the contents of the article. What the author can do is ask the admin to delete the related article</p>
        <p class="btn btn-default">@Html.ActionLink("Create Article", "List", "Articles")</p>
    </div>
</div>