@model Rahmano_Case.Models.ArticleHome

@{
    ViewBag.Title = "Index";
}

<h2>List of Articles</h2>

<div class="container">
    <div class="text-center">
        <button class="btn btn-dark filter-button" data-filter="all">All</button>
        @foreach (var obj in Model.Categories)
        {
            <button class="btn btn-outline-secondary filter-button"
                    data-filter="@obj.Category_Name.Replace(' ', '_')">
                @obj.Category_Name
            </button>
        }
    </div>
    <br />
    <div class="row">
        @foreach (var art in Model.Article)
        {
            { Html.RenderPartial("_IndividualArticle", art); }
        }
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {

            $(".filter-button").click(function () {

                var value = $(this).attr('data-filter');
                if (value == "all") {
                    $('.filter').show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');

                }
            });

        });
    </script>
}